h1{
    text-align: center;
}

.items{
    display: flex;
    flex-wrap: wrap;
}

.item{
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 20px;
    background-color: pink;
}

.item:last-child{
    margin-right: 0;
}